* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
    background-color: #f0f0f0;

}

.panel {
    width: 80%;
    max-width: 800px;
    min-height: 40vh;
    background-color: #fff;
    margin: 0; /* Centers perfectly with Flexbox */
    border-radius: 10px;
    padding: 30px;
    border: 1px solid #eb8328;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.panel h1 {
    font-size: 1.9rem;
    color: #e96500;
    padding: 10px 0;
    border-bottom: 1px solid #333;
    text-align: center;
}
.panel h3{
    font-size: 1.3rem;
    color: #e96500;
    padding: 20px 0;
    text-align: left; 
}
.timer {
    font-size: 1.2rem;
    color: #e96500;
    text-align: center;
    margin-bottom: 20px;
}

.players-name{
    font-size: 1rem;
    margin: 10px 0;
    padding: 5px;
    ;
}
.players-name input {
    width: 10%;
    border-radius: 10px;
    border: 1px solid #222;
    margin: 5px;

}
.players-name .correct-btn {
    color: #fff;
    background-color: rgb(64, 192, 64);
    font-size: 1rem;
    margin: 10px 20px;
    padding: 5px;
    border-radius: 10px;
    width: 10%;
    border-style: none;
    cursor: pointer;
}
.players-name .wrong-btn {
    color: #fff;
    background-color: rgb(253, 72, 72);
    font-size: 1rem;
    padding: 5px;
    border-radius: 10px;
    width: 10%;
    border-style: none;
    cursor: pointer;

}


.btn {
    font-size: 1rem;
    background: #fff;
    color: #222;
    padding: 10px;
    width: 40%;
    border: 1px solid #222;
    margin: 20px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    justify-content: center;
}

.btn:hover {
    background: #ffc491;
    color: #fff;
}

.quiz {
    margin-left: 20px;

}

.quiz h2 {
    font-size: 1.2rem;
    margin: 20px 0;

}

#exit-btn {
    background: red;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    width: 10%;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;


}

#next-btn {
    background: #e96500;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    width: 15%;
    align-items: right;
    display: flex;
    border-radius: 5px;
    cursor: pointer;

    float: right;
}

.hide {
    display: none;
}

.correct {
    background: rgb(178, 230, 178);

}

.incorrect {
    background: rgb(239, 174, 174);

}





/* Responsive adjustments */
@media (max-width: 768px) {
    .panel {
        width: 95%;
        padding: 20px;
    }

    .players input {
        width: 80%;
        /* Further adjusted for smaller screens */
    }

    .btn {
        width: 10%;
        margin: 10px 0;
    }

 
}