/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*page code*/
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    transition: 0.5s;
  }

body {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #D9AFD9;
   background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
   font-family: 'Rajdhani', sans-serif;
   color: rgb(50, 50, 50);
   font-weight: 400;
 
 }



 .ageIfy {
    filter:  drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.3));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

 .ageIfy .appName {
    font-size: xx-large;
    font-weight: 700;
    margin: 20px auto;
    text-transform: uppercase;
    color:aliceblue;
 }

 .ageIfy label {
    align-self: center;
    margin: 20px auto;
 }

 .ageIfy input {
    padding: 0.5rem;
    border-radius: 5px;
    margin: 5px 0;

 }

 .btn {

    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)
 }

 .ageIfy .btn {
     margin: 1rem;
     padding: 15px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     border-radius: 10px;
     display: block;
    
 }

 .btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;

  }

  .ageIfy .result{
    text-align: center;
  }